@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  font-family: "Space Grotesk", serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  height: fit-content;
}

#root{
  margin: 0;
  padding: 0;
}

.authContainer{
  width: 100%;
  margin: 0;
  height: fit-content;
  background: url('/auth-background.png');
  background-position: left 600% center;
  background-repeat: no-repeat;
}

@media (max-width: 1300px){
  .authContainer {
    background-position: left 150% center;
  }
}

@media (max-width: 1080px){
  .authContainer {
    background-position: left 90% center;
    background-size: cover;
    height: fit-content;
  }
}

@media (max-width: 920px){
  .authContainer {
    background-size: cover;
    height:fit-content;
  }
}

.purpleGradient {
  background: linear-gradient(45deg, #440476 43%, #7f07dc 64%);
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider > * {
    min-width: 100%;
    transition: opacity 1s ease-in-out;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-200%);
    }
}

.slider {
    animation: slideAnimation 9s infinite;
}
